@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@font-face {
  font-family: "GT-Ultra";
  src: url("fonts/GT-Ultra-Standard-Bold-Trial.woff2") format("woff2");
}
body {
  margin: 0;
  padding: 0;
  background-color: #060447;
  color: #FFF38A;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  height: 80%;
  width: 80%;
  max-width: 1400px;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;
  position: relative;
}

.top-container {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 70px;
}

.caroussel {
  height: 100%;
  width: 28vw;
  max-width: 450px;
  margin-left: 20px;
  overflow: hidden;
  transform: translateY(-30px);
  opacity: 0;
  animation: firstApparition 0.5s ease-out forwards;
  animation-delay: 1.2s;
}

.scrollable-container {
  display: flex;
  height: 100%;
  width: 300%;
  transition: transform 0.2s linear;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.movie-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.descriptions-container {
  position: relative;
  width: 85%;
}

.description-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  width: 100%;
}
.description-container.first-description {
  position: static;
}
.description-container.first-description h3 {
  transform: translateY(-30px);
  opacity: 0;
  animation: firstApparition 0.5s ease-out forwards;
  animation-delay: 0.4s;
}
.description-container.first-description p {
  transform: translateY(-30px);
  opacity: 0;
  animation: firstApparition 0.5s ease-out forwards;
  animation-delay: 0.6s;
}
.description-container.prev-description-section {
  opacity: 0;
  transform: translateX(-50px);
}
.description-container.next-description-section {
  opacity: 0;
  transform: translateX(50px);
}
.description-container .logo {
  position: relative;
  height: 80px;
  width: 80px;
  transform: translateY(-30px);
  opacity: 0;
  animation: firstApparition 0.5s ease-out forwards;
  animation-delay: 0.2s;
}

.movie-title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 49px;
  margin: 24px 0 8px;
  white-space: nowrap;
}

.movie-description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 30px;
  margin: 0;
  max-width: 500px;
}

.date-container {
  width: 100%;
  transform: translateY(-30px);
  opacity: 0;
  animation: firstApparition 0.5s ease-out forwards;
  animation-delay: 1s;
}
.date-container .date {
  font-family: "GT-Ultra";
  font-size: 12.4rem;
  line-height: 8rem;
  display: inline-block;
  position: relative;
}
.date-container .date.third-number {
  margin-left: -15px;
}
.date-container .date.third-number > *, .date-container .date.fourth-number > * {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.date-container .date.third-number > *:first-child, .date-container .date.fourth-number > *:first-child {
  position: static;
}
.date-container .date.third-number > *.prev-number, .date-container .date.fourth-number > *.prev-number {
  opacity: 0;
  transform: translateX(-50px);
}
.date-container .date.third-number > *.next-number, .date-container .date.fourth-number > *.next-number {
  opacity: 0;
  transform: translateX(50px);
}
.date-container .date.fourth-number > * {
  transition-delay: 0.02s;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  width: 115px;
  transform: translateY(-30px);
  opacity: 0;
  animation: firstApparition 0.5s ease-out forwards;
  animation-delay: 1.2s;
}
.arrow-container .arrow {
  width: 35px;
  fill: #FFF38A;
  cursor: pointer;
  transition: fill 0.2s ease-out;
}
.arrow-container .arrow.disabled {
  fill: #827B68;
}
.arrow-container .arrow-left {
  transform: rotate(180deg);
}

.stepper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.stepper-container .circle {
  box-sizing: border-box;
  background-color: #827B68;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: solid 2px #827B68;
  transition: background-color 0.2s ease-in;
  transform: scale(0);
  animation: stepperCirclesApparition 0.4s 1.4s ease-out forwards;
}
.stepper-container .circle:nth-child(2) {
  animation-delay: calc((1.2 + 2 * 0.2) * 1s);
}
.stepper-container .circle:nth-child(3) {
  animation-delay: calc((1.2 + 3 * 0.2) * 1s);
}
.stepper-container .circle:nth-child(4) {
  animation-delay: calc((1.2 + 4 * 0.2) * 1s);
}
.stepper-container .circle:nth-child(5) {
  animation-delay: calc((1.2 + 5 * 0.2) * 1s);
}
.stepper-container .circle.active {
  background-color: #FFF38A;
  z-index: 1;
}
.stepper-container .stepper-background-line {
  background-color: #827B68;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform-origin: left center;
  transform: translateY(-50%) scaleX(0);
  z-index: -2;
  animation: stepperLineApparition 0.6s 1.6s ease-out forwards;
}
.stepper-container .stepper-background-line.active {
  background-color: #FFF38A;
  z-index: -1;
  transform: translateY(-50%) scaleX(0);
  transition: transform 0.2s ease-in;
  animation: none;
}

.loading-anim * {
  animation-play-state: paused !important;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #060447;
  z-index: 10;
}

.loader-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #FFF38A;
  z-index: 3;
}
.loader-circle.background {
  height: 50px;
  width: 50px;
  background-color: #827B68;
  animation: loaderCircleBackground 1s infinite ease-out;
  z-index: 2;
}

@keyframes firstApparition {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes stepperLineApparition {
  100% {
    transform: translateY(-50%) scaleX(1);
  }
}
@keyframes stepperCirclesApparition {
  100% {
    transform: scale(1);
  }
}
@keyframes loaderCircleBackground {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.6);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
